* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa; 
}

.banner {
  background-position: center;
  height: 100vh; 
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://i.pinimg.com/1200x/52/dc/cd/52dccd8af8ae27793f26fac12810ead9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.my-navbar {
  background-color: #5a2d82;
  height: 60px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.my-navbar:hover {
  background-color: #803cbb;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.nav-brand {
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.nav-brand:hover {
  color: #803cbb;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #803cbb;
  text-decoration: underline;
}


.produk-banner {
  background-position: center;
  height: 80vh; 
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/BOOTSTRAP/image/skz.jpg');
  background-size: cover;
}